Repository jkhoffman/cogni: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-toml-fmt

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-features --all-targets -- -D warnings
  language: system
  pass_filenames: false

cargo-toml-fmt:
  name: cargo tomlfmt
  entry: taplo fmt
  language: system
  pass_filenames: true

refactor: use mask instead of make for consistency
  CONTRIBUTING.md
  Makefile
  docs/pre-commit-setup.md
  maskfile.md
Due: none

feat: add performance benchmarks for agentic features
  .pre-commit-config.yaml
  IMPLEMENTATION_ROADMAP.md
  benches/context_bench.rs
  benches/state_bench.rs
  cogni/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-toml-fmt

fix: resolve example compatibility issues
  cogni-context/src/types.rs
  cogni/Cargo.toml
  examples/agentic_combined_example.rs
  examples/structured_output_example.rs
  examples/structured_output_with_fallback.rs
Due: cargo-fmt, cargo-clippy, cargo-toml-fmt

style: apply cargo fmt to agent examples
  examples/code_review_agent.rs
  examples/customer_support_agent.rs
  examples/data_analysis_agent.rs
  examples/research_assistant_agent.rs
Due: cargo-fmt, cargo-clippy

feat: add StructuredOutput derive macro
  Cargo.lock
  Cargo.toml
  IMPLEMENTATION_ROADMAP.md
  cogni-core/Cargo.toml
  cogni-core/src/lib.rs
  cogni-derive/Cargo.toml
  cogni-derive/examples/derive_demo.rs
  cogni-derive/src/lib.rs
  cogni-derive/tests/structured_output.rs
  cogni/Cargo.toml
  cogni/src/lib.rs
  examples/client/advanced_patterns_example.rs
  examples/client/combined_features_example.rs
  examples/client/multi_provider_client_example.rs
  examples/client/request_builder_example.rs
  examples/code_review_agent.rs
  examples/context_management_example.rs
  examples/custom_tools_example.rs
  examples/customer_support_agent.rs
  examples/data_analysis_agent.rs
  examples/middleware_example.rs
  examples/middleware_simple.rs
  examples/research_assistant_agent.rs
  examples/stateful_conversation.rs
  examples/structured_output_derive.rs
  examples/structured_output_with_fallback.rs
  examples/test_tools_locally.rs
  examples/tool_execution_example.rs
Due: cargo-fmt, cargo-clippy, cargo-toml-fmt

feat: improve tool API with convenient methods
  cogni-client/src/client.rs
  cogni-tools/src/registry.rs
  cogni/Cargo.toml
  examples/tools_api_demo.rs
Due: cargo-fmt, cargo-clippy, cargo-toml-fmt

feat: add tools_vec! macro for ergonomic tool collection creation
  cogni-tools/src/lib.rs
  cogni-tools/src/registry.rs
  examples/tools_api_demo.rs
Due: cargo-fmt, cargo-clippy

refactor: simplify RegistryBuilder API by removing with_tool
  cogni-tools/src/builtin/mod.rs
  cogni-tools/src/executor.rs
  cogni-tools/src/registry.rs
  examples/tools_api_demo.rs
Due: cargo-fmt, cargo-clippy

refactor: remove redundant register_boxed method
  cogni-tools/src/registry.rs
Due: cargo-fmt, cargo-clippy

refactor: unify register API to always accept multiple executors
  cogni-tools/src/registry.rs
  examples/tools_api_demo.rs
  tests/tool_integration_test.rs
  tests/tool_streaming_test.rs
Due: cargo-fmt, cargo-clippy

refactor: remove RegistryBuilder and list_names method
  cogni-tools/src/builtin/mod.rs
  cogni-tools/src/lib.rs
  cogni-tools/src/registry.rs
  examples/tools_api_demo.rs
Due: cargo-fmt, cargo-clippy

refactor: remove unused clear() method and improve from_executors
  cogni-tools/src/registry.rs
Due: cargo-fmt, cargo-clippy

refactor: hide test-only methods with doc(hidden)
  cogni-tools/src/registry.rs
Due: cargo-fmt, cargo-clippy

refactor: remove tool() method across all builders
  cogni-client/src/builder.rs
  cogni-client/src/client.rs
  cogni-core/src/types/request.rs
  examples/client/request_builder_example.rs
  examples/multi_provider_tools.rs
  tests/client_integration_test.rs
  tests/tool_integration_test.rs
  tests/tool_streaming_test.rs
Due: cargo-fmt, cargo-clippy

refactor: simplify API across multiple modules
  cogni-client/src/lib.rs
  cogni-client/src/parallel.rs
  cogni-client/src/stateful.rs
  cogni-providers/src/openai/provider.rs
  cogni/src/lib.rs
Due: cargo-fmt, cargo-clippy

fix: resolve example bugs and improve compatibility
  EXAMPLE_TEST_RESULTS.md
  FIXES_SUMMARY.md
  agent_conversations/1b534020-0708-4ff0-b16d-0f427af725bb.json
  agent_conversations/3b5baa46-5969-45fe-acf2-af8e87f94d82.json
  agent_conversations/4a97167b-aad5-49c6-a92c-01164cc9f624.json
  agent_conversations/5fbd09cf-ba26-4aa0-ad5e-f9cf18ac9ec5.json
  examples/agentic_combined_example.rs
  examples/client/streaming_example.rs
  examples/multi_provider.rs
  examples/multi_provider_tools.rs
  examples/structured_output_derive.rs
  examples/structured_output_example.rs
Due: cargo-fmt, cargo-clippy

fix: resolve structured output and streaming issues across providers
  cogni-client/src/client.rs
  cogni-providers/src/anthropic/converter.rs
  cogni-providers/src/anthropic/parser.rs
  cogni-providers/src/ollama/converter.rs
  examples/client/streaming_example.rs
  examples/multi_provider_tools.rs
  examples/structured_output_derive.rs
  examples/structured_output_example.rs
Due: cargo-fmt, cargo-clippy

delete agent conversations
  agent_conversations/1b534020-0708-4ff0-b16d-0f427af725bb.json
  agent_conversations/3b5baa46-5969-45fe-acf2-af8e87f94d82.json
  agent_conversations/4a97167b-aad5-49c6-a92c-01164cc9f624.json
  agent_conversations/5fbd09cf-ba26-4aa0-ad5e-f9cf18ac9ec5.json
Due: none

refactor: standardize provider implementations and improve code quality
  cogni-providers/src/anthropic/converter.rs
  cogni-providers/src/anthropic/mod.rs
  cogni-providers/src/anthropic/parser.rs
  cogni-providers/src/anthropic/provider.rs
  cogni-providers/src/builder.rs
  cogni-providers/src/error.rs
  cogni-providers/src/http.rs
  cogni-providers/src/lib.rs
  cogni-providers/src/ollama/converter.rs
  cogni-providers/src/ollama/mod.rs
  cogni-providers/src/ollama/parser.rs
  cogni-providers/src/ollama/provider.rs
  cogni-providers/src/openai/provider.rs
  cogni-providers/src/stream_utils.rs
  cogni/src/lib.rs
Due: cargo-fmt, cargo-clippy

refactor: make provider convenience methods return Result
  cogni-providers/src/anthropic/provider.rs
  cogni-providers/src/ollama/provider.rs
  cogni-providers/src/openai/provider.rs
  examples/agentic_combined_example.rs
  examples/basic_openai.rs
  examples/client/multi_provider_client_example.rs
  examples/client/request_builder_example.rs
  examples/client/simple_chat_example.rs
  examples/client/streaming_example.rs
  examples/multi_provider.rs
  examples/multi_provider_tools.rs
  examples/provider_failover.rs
  examples/streaming_openai.rs
  examples/structured_output_derive.rs
  examples/structured_output_example.rs
  examples/structured_output_with_fallback.rs
  examples/tools_api_demo.rs
  tests/agentic_features_test.rs
  tests/client_integration_test.rs
  tests/structured_output_test.rs
  tests/tool_integration_test.rs
  tests/tool_streaming_test.rs
Due: cargo-fmt, cargo-clippy

refactor: clean up technical debt and improve code quality
  EXAMPLE_TEST_RESULTS.md
  agent_conversations/b8711461-53f7-49e0-9c49-7bd6a16ea646.json
  cogni-providers/src/anthropic/converter.rs
  cogni-providers/src/builder.rs
  cogni-providers/src/lib.rs
  cogni-providers/src/stream_utils.rs
Due: cargo-fmt, cargo-clippy

refactor: clean up more technical debt
  cogni-client/src/parallel.rs
  cogni-client/src/stateful.rs
  cogni-providers/src/anthropic/config.rs
  cogni-providers/src/anthropic/converter.rs
  cogni-providers/src/builder.rs
  cogni-providers/src/config_builder.rs
  cogni-providers/src/constants.rs
  cogni-providers/src/lib.rs
  cogni-providers/src/ollama/config.rs
Due: cargo-fmt, cargo-clippy

fix: add missing error handling in doctests
  cogni-client/src/client.rs
  cogni-client/src/parallel.rs
  cogni/src/lib.rs
Due: cargo-fmt, cargo-clippy

test: achieve 85% test coverage target
  Cargo.toml
  agent_conversations/b8711461-53f7-49e0-9c49-7bd6a16ea646.json
  cogni-context/Cargo.toml
  cogni-providers/src/ollama/direct_stream_tests.rs
  cogni-providers/src/ollama/mod.rs
  cogni-providers/src/ollama/stream.rs
  cogni-providers/src/ollama/tests.rs
  cogni-state/Cargo.toml
Due: cargo-fmt, cargo-clippy, cargo-toml-fmt

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-toml-fmt: any of: Cargo.toml
